{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="flex flex-col items-center p-6 bg-white shadow-lg rounded-lg">
            <div class="flex justify-between w-[60%]">
                <h2 class="font-merriweather-sans text-3xl font-bold text-gray-800 mb-4 flex items-center">CHARTE
                    ETHIQUE ET DE BONNE CONDUITE DU BLOG PHILOMANIE.</h2>
            </div>
            <p class="font-montserrat text-gray-600 leading-relaxed p-8 rounded-lg shadow-lg bg-blue-50 w-[100%]">
                Cette charte a vocation à vous informer, en tant qu’utilisateur, quant à l’utilisation du blog.

                Il vous est également rappelé que vous devez respecter les conditions générales d’utilisations.

                Mon rôle en tant que modérateur n’est pas de se poser en arbitre dans les conflits, de donner raison ou
                tort, mais de faire respecter la charte et les lois en vigueur, ainsi que la liberté d’expression.

                Les forums sont ouverts à tout le monde, chacun est libre d’y intervenir.

                Les textes que vous publiez sont donc visibles en ligne. Ceci implique de votre part le respect de
                certaines règles élémentaires : vous devez rédiger des commentaires objectifs, jamais excessifs ou
                insultants. Le blog est un espace de discussions et d’échanges. Les utilisateurs doivent rester
                respectueux de la parole d’autrui. On participe donc aux discussions sans préjugés, sans insulter et en
                utilisant un langage correct.

                Je pourrais effacer les messages : Insultants, Diffamatoires, Publicitaires ou promotionnels, qui
                comportent des images, photos ou vidéos, vous n’utiliserez que du texte ! J’effacerais également tous
                propos et écrits racistes, homophobes, sexistes, s’en prenant de manière régulière et répétée à un
                utilisateur (relevant du harcèlement).

                Je vous rappelle que sont pénalement répréhensibles les messages ou actions relatifs à : L’apologie des
                crimes contre l’humanité, La provocation à la commission d’actes de terrorisme ou leur apologie.
                L’incitation à la haine raciale, à la haine à l’égard des personnes à raison de leur sexe, de leur
                orientation ou identité sexuelle ou de leur handicap. L’incitation à la violence, aux violences faites
                aux femmes ainsi que des atteintes à la dignité humaine.

                Je me réserve également la faculté de bannir un utilisateur(trice) qui adopterait tout autre
                comportement inadapté.

                Merci de respecter cette charte de bonne conduite et d’éthique je vous en suis par avance reconnaissant.
                Marcel FAYET.
            </p>
        </div>
    </main>


{% endblock %}